.body {
  background-color:#d0d5d9;
  
}
.myimage {
  margin-top: 50px;
  border: 6px solid white;
  height: 400px;
}
.myimage2 {
  margin-top: 50px;
  border: 6px solid white;
  height: 400px;

}
.myimage3 {
  margin-top: 50px;
  border: 6px solid white;
  height: 400px;
}
.about{
  background: #948787;
  border-radius: 50px;
  margin-top: 50px;
  text-align: center;
  color:white;
}
.me {
  margin-top: 50px;
}
.Projects {
  margin-top: 100px;
}

h1 {
  text-align: center;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  
}
.card-body {
  height: 255px;
}
.button {
  -webkit-appearance: none;
  transition: border-color 0.2s ease;
    background-color: transparent;
    border: solid 2px !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    border-radius: 3em;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.6em;
    font-weight: bold;
    height: calc(4.75em + 2px);
    letter-spacing: 0.25em;
    line-height: 4.75em;
    outline: 0;
    padding: 0 3.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.button:hover {
  opacity: 0.6
}

.card{
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.card-img-top {
   width:100%;
   height: 50%;
   object-position:50% 50%;
  }

  .cardbutton {
    background-color: black;
  }

.horizontal {
  display: inline;
  }

.Skills {
  margin-top: 50px;
  text-align: center;
}
.logo {
  float: center;
    width:  100px;
    height: 100px;
    background-size: cover;
}
.rails {
  width: 120px;

}
.email {
  width: 100px;
}
.linkedin {
    width: 60px;

}
.pdf {
  width: 80px;
}
.touch {
  margin-top: 50px;
}
